---
//styles
import "@/styles/global.css";

//components
import BaseHead from "@/layouts/BaseHead.astro";
import Footer from "@/layouts/Footer.astro";
import Navbar from "@/layouts/Navbar.astro";
---

<html lang="de">
  <BaseHead {...Astro.props} />
  <body>
    <Navbar/>
    <main>
      <slot/>
    </main>
    <Footer />
  </body>
</html>