---

---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Glücksknopf</title>
  </head>
  <body>
    <h1>Layout!</h1>
    <div>
      <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/galerie">Galerie</a></li>
        <li><a href="/themes">Themes</a></li>
        <li><a href="/appointments">Appointments</a></li>
      </ul>
    </div>
    <slot/>
  </body>
</html>