---
import { Image } from "astro:assets";
import myLogo from "@/assets/logo.svg";

const navData = [
  {
    title: "Themen",
    href: "/themes"
  },
  {
    title: "Home",
    href: "/"
  },
  {
    title: "Aktuelles",
    href: "/appointments"
  }
];
---

<nav class="bg-amber-50 shadow-lg py-4">
  <ul class="flex justify-center items-center font-bold text-lg">
    {
      navData.map(i => {
        const hasIcon = i.href === "/";
        return (
          <a href={i.href} class="px-5">
            {
              hasIcon ? (
                <Image src={myLogo} alt="Logo" class="h-12 md:h-20 w-auto" />
              ) : i.title
            }
          </a>
        )
      })
    }
  </ul>
</nav>